################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HoneyBunny
/UnitTestProject1
/.vs/HoneyBunny/v15
/.vs/config
/.vs/Repository/v15
/.vs
/HoneyBunny.Tests
